{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
    <!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Category</a></li>
                <li class="active">{{ product.title }}</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->

    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!--  Product Details -->
                <div class="product product-details clearfix">
                    <div class="col-md-6">
                        <div id="product-main-view">
                            {% for image in product.producthasimage_set.all %}
                                <div class="product-view">
                                    {% thumbnail image.image "1200x1200" crop="center" as im %}
                                        <img src="{{ im.url }}">
                                    {% endthumbnail %}
                                </div>
                            {% endfor %}
                        </div>
                        <div id="product-view">
                            {% for image in product.producthasimage_set.all %}
                                <div class="product-view">
                                    {% thumbnail image.image "300x300" crop="center" as im %}
                                        <img src="{{ im.url }}">
                                    {% endthumbnail %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product-body">
                            <div class="product-label">
                                <span>New</span>
                                <span class="sale">-20%</span>
                            </div>
                            <h2 class="product-name">{{ product.title }}</h2>
                            <h3 class="product-price">NRS {{ product.price }}
                                <del class="product-old-price">NRS {{ product.strike_price }}</del>
                            </h3>
                            <div>
                                <div class="product-rating">
                                    {% for a in product.star %}
                                        <i class="fa fa-star"></i>
                                    {% endfor %}
                                    {% for a in empty_star %}
                                        <i class="fa fa-star-o empty"></i>
                                    {% endfor %}
                                </div>
                                <a href="#">{{ product.producthasreview_set.count }} Review(s) / Add Review</a>
                            </div>
                            <p><strong>Availability:</strong>{% if product.availability %} In Stock {% else %}
                                NA {% endif %}</p>
                            <p><strong>Brand:</strong> {{ product.brand }}</p>
                            {{ product.short_intro | safe }}
                            <div class="product-options">
                                <ul class="size-option">
                                    <li><span class="text-uppercase">Size:</span></li>
                                    {% for size in product.refined_sizes %}
                                        <li {% if forloop.first %} class="active" {% endif %}><a href="#">{{ size }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <ul class="color-option">
                                    <li><span class="text-uppercase">Color:</span></li>

                                    {% for color in product.refined_colors %}
                                        <li {% if forloop.first %} class="active" {% endif %}><a href="#"
                                                                                                 style="background-color:{{ color }};"></a>
                                        </li>
                                    {% endfor %}

                                </ul>
                            </div>

                            <div class="product-btns">
                                <form method="POST" action="{% url 'cart_page' product.id %}">
                                    {% csrf_token %}
                                    <div class="qty-input">
                                        <span class="text-uppercase">QTY: </span>
                                        <input name="qty" class="input" type="number" required>
                                    </div>
                                    <button type="submit" class="primary-btn add-to-cart"><i
                                            class="fa fa-shopping-cart"></i> Add to
                                        Cart
                                    </button>
                                </form>
                                <div class="pull-right">
                                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                                    <button class="main-btn icon-btn"><i class="fa fa-share-alt"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="product-tab">
                            <ul class="tab-nav">
                                <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
                                <li><a data-toggle="tab" href="#tab2">Reviews ({{ product.producthasreview_set.count }})</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab1" class="tab-pane fade in active">
                                    {{ product.description | safe }}
                                </div>
                                <div id="tab2" class="tab-pane fade in">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="product-reviews">
                                                {% for review in product.recent_reviews %}
                                                    <div class="single-review">
                                                        <div class="review-heading">
                                                            <div><a href="#"><i
                                                                    class="fa fa-user-o"></i> {{ review.user.username }}
                                                            </a></div>
                                                            <div class="review-rating pull-right">
                                                                {% for a in review.star %}
                                                                    <i class="fa fa-star"></i>
                                                                {% endfor %}

                                                            </div>
                                                        </div>
                                                        <div class="review-body">
                                                            <p>{{ review.comment }}</p>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                                <ul class="reviews-pages">
                                                    <li class="active">1</li>
                                                    <li><a href="#">2</a></li>
                                                    <li><a href="#">3</a></li>
                                                    <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            {% if request.user.is_authenticated %}
                                                <h4 class="text-uppercase">Write Your Review</h4>
                                                <p>Your email address will not be published.</p>

                                                {% if review_form.errors %}
                                                    <p>Rating or Comment is missing. PLease fill the required
                                                        fields.</p>
                                                {% endif %}
                                                <form class="review-form" method="POST">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <textarea name="comment" class="input"
                                                                  placeholder="Your review" required></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="input-rating">
                                                            <strong class="text-uppercase">Your Rating: </strong>
                                                            <div class="stars">
                                                                <input type="radio" id="star5" name="rating"
                                                                       value="5"/><label for="star5"></label>
                                                                <input type="radio" id="star4" name="rating"
                                                                       value="4"/><label for="star4"></label>
                                                                <input type="radio" id="star3" name="rating"
                                                                       value="3"/><label for="star3"></label>
                                                                <input type="radio" id="star2" name="rating"
                                                                       value="2"/><label for="star2"></label>
                                                                <input type="radio" id="star1" name="rating"
                                                                       value="1"/><label for="star1"></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="primary-btn">Submit</button>
                                                </form>
                                            {% else %}
                                                If you want to write review, please log in.
                                            {% endif %}
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /Product Details -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->

    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- section title -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h2 class="title">Picked For You</h2>
                    </div>
                </div>
                <!-- section title -->

                <!-- Product Single -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="product product-single">
                        <div class="product-thumb">
                            <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                            <img src="./img/product04.jpg" alt="">
                        </div>
                        <div class="product-body">
                            <h3 class="product-price">$32.50</h3>
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o empty"></i>
                            </div>
                            <h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
                            <div class="product-btns">
                                <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                                <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                                <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Product Single -->

                <!-- Product Single -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="product product-single">
                        <div class="product-thumb">
                            <div class="product-label">
                                <span>New</span>
                            </div>
                            <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                            <img src="./img/product03.jpg" alt="">
                        </div>
                        <div class="product-body">
                            <h3 class="product-price">$32.50</h3>
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o empty"></i>
                            </div>
                            <h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
                            <div class="product-btns">
                                <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                                <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                                <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Product Single -->

                <!-- Product Single -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="product product-single">
                        <div class="product-thumb">
                            <div class="product-label">
                                <span class="sale">-20%</span>
                            </div>
                            <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                            <img src="./img/product02.jpg" alt="">
                        </div>
                        <div class="product-body">
                            <h3 class="product-price">$32.50
                                <del class="product-old-price">$45.00</del>
                            </h3>
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o empty"></i>
                            </div>
                            <h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
                            <div class="product-btns">
                                <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                                <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                                <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Product Single -->

                <!-- Product Single -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="product product-single">
                        <div class="product-thumb">
                            <div class="product-label">
                                <span>New</span>
                                <span class="sale">-20%</span>
                            </div>
                            <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                            <img src="./img/product01.jpg" alt="">
                        </div>
                        <div class="product-body">
                            <h3 class="product-price">$32.50
                                <del class="product-old-price">$45.00</del>
                            </h3>
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o empty"></i>
                            </div>
                            <h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
                            <div class="product-btns">
                                <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                                <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                                <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Product Single -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->
{% endblock %}